
  __      __     _____ _____            _   _ _______
  \ \    / /\   / ____|  __ \     /\   | \ | |__   __|
   \ \  / /  \ | |  __| |__) |   /  \  |  \| |  | |
    \ \/ / /\ \| | |_ |  _  /   / /\ \ | .   |  | |
     \  / ____ \ |__| | | \ \  / ____ \| |\  |  | |
      \/_/    \_\_____|_|  \_\/_/    \_\_| \_|  |_|
  CentOS-7.2.1511 ({{ date }})
  Vagrant Box
